.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #000000;
    padding: 20px;
    overflow-y: auto;
  }
  
  .nav-link {
    font-weight: bold;
    color: #ffffff;
  }
  
  .nav-link.active {
    color: #007bff;
  }